body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f288;
    color: #333;
}

h1 {
    color: #b8860b;
}
form {
    background-color: #ffffff0a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}
label {
    display: block;
    margin-bottom: 10px;
}
input, select {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto;
}

button:hover{
    cursor: pointer;
}
